body {
  margin: 0;
}

@keyframes pulsateGlow {
  0% {
    box-shadow:
      0 0 5px #ff0000,
      0 0 10px #ff7f00,
      0 0 15px #ffff00,
      0 0 20px #00ff00,
      0 0 25px #0000ff,
      0 0 30px #4b0082,
      0 0 35px #9400d3;
  }
  50% {
    box-shadow:
      0 0 10px #ff0000,
      0 0 20px #ff7f00,
      0 0 30px #ffff00,
      0 0 40px #00ff00,
      0 0 50px #0000ff,
      0 0 60px #4b0082,
      0 0 70px #9400d3;
  }
  100% {
    box-shadow:
      0 0 5px #ff0000,
      0 0 10px #ff7f00,
      0 0 15px #ffff00,
      0 0 20px #00ff00,
      0 0 25px #0000ff,
      0 0 30px #4b0082,
      0 0 35px #9400d3;
  }
}

.homePageBackground {
  background-image: url(/public/entrance1.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton1 {
  position: fixed;
  right: 510px;
  bottom: 120px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.sparkleButton1 img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.Lobby {
  background-image: url(/public/entrancehall.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton2 {
  position: fixed;
  right: 425px;
  bottom: 225px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.sparkleButton2 img {
  width: 30px;
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.sparkleButton3 {
  position: fixed;
  left: 621.5px;
  bottom: 234px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton3 img {
  width: 18px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.zenBlossomBackground {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.youtubeVideoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Ensures the overlay is above the video */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.01); /* Semi-transparent background */
}

.backButton1 {
  position: absolute;
  bottom: 7px; /* 20px from the bottom */
  left: 25px; /* 20px from the left */
  background-image: url('/public/backbutton.gif'); /* Using backbutton.gif as the button background */
  background-color: transparent;
  background-size: cover;
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.sparkleButton6 {
  position: fixed;
  right: 135px;
  top: 47%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton6 img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.Escalators {
  background-image: url(/public/escalators.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton5 {
  position: fixed;
  left: 48.03%;
  top: 24%;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton5 img {
  width: 35px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.TallMall {
  background-image: url(/public/interior6.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton7 {
  position: fixed;
  left: 600px;
  bottom: 249px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton7 img {
  width: 28px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.sparkleButton8 {
  position: fixed;
  left: 900px;
  bottom: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton8 img {
  width: 57px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.LibraryMall {
  background-image: url(/public/interior5.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.book1 {
  position: fixed;
  left: 377px;
  bottom: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

.book1 img {
  width: 30%; /* Scale down the image to 50% of its original size */
  height: auto; 
}

.sparkleButton12 {
  position: fixed;
  left: 790px;
  bottom: 84px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton12 img {
  width: 25px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.MallLobby {
  background-image: url(/public/entrancelobby.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton15 {
  position: fixed;
  left: 662px;
  top: 3px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton15 img {
  width: 13px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.HQroom {
  background-image: url(/public/newsroom.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton9 {
  position: fixed;
  left: 298px;
  bottom: 283px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton10 {
  position: fixed;
  left: 675px;
  bottom: 418px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton11 {
  position: fixed;
  left: 706px;
  bottom: 248px;
  border: none;
  background: none;
  cursor: pointer;
}

.portalButton1 {
  position: fixed;
  left: 420px;
  bottom: 14px;
  border: none;
  background: none;
  cursor: pointer;
}

/* Adjust the positions as needed */
.sparkleButton9 img { width: 28px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite; }
.sparkleButton10 img { width: 31px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite; }
.sparkleButton11 img { width: 33px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite; }
.portalButton1 img { width: 120px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; }

.Armory {
  background-image: url(/public/armoryneon.png);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh; /* Full viewport height */
}

.Armory button:not(.backButton2) {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Ensure images take up only the space they need */
.Armory button:not(.backButton2) img {
  display: block; /* Remove extra space around images */
  width: 100%;
  height: auto;
}

.roundHoloImage {
  background-image: url(/public/roundholo.png);
  position: absolute; /* Position relative to Armory */
  bottom: 1px; /* Adjust as needed */
  left: 497px; /* Adjust as needed */
  z-index: 1; /* Higher than the background, lower than the buttons */
  width: 30%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.backButton2 {
  position: absolute;
  bottom: 7px; /* 20px from the bottom */
  left: 25px; /* 20px from the left */
  background-image: url('/public/backbutton.gif'); /* Using backbutton.gif as the button background */
  background-color: transparent;
  background-size: cover;
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.greatswordButton {
  position: fixed;
  left: 750px;
  bottom: 20px;
  z-index: 3;
  border: none;
  background: none;
  cursor: pointer;
  width: 72px;
  height: 263px;
}

.greatswordButton img {
  width: 28%; /* Adjust size as needed */
  height: auto;
}

.platelegsButton {
  position: fixed;
  left: 654px;
  bottom: 120px;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
  width: 99px;
  height: 102px;
}

.platelegsButton img {
  width: 13%; /* Adjust size as needed */
  height: auto;
}

.bootsButton {
  position: fixed;
  left: 639px;
  bottom: 20px;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
  width: 102px;
  height: 97px;
}

.bootsButton img {
  width: 10%; /* Adjust size as needed */
  height: auto;
}

.Chestplate {
  position: fixed;
  left: 631px;
  top: 180px;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}

.Chestplate img {
  width: 22%; /* Adjust size as needed */
  height: auto;
}

.Lens {
  position: fixed;
  left: 678px;
  top: 120px;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}

.Lens img {
  width: 9%; /* Adjust size as needed */
  height: auto;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: navy;
  padding: 20px;
  border-radius: 10px;
  z-index: 10; /* Ensure it's above other content */
}

.popupText {
  color: white;
  font-family: 'Arial', sans-serif; /* Choose a cool yet readable font */
  font-size: 16px;
}

.closePopup {
  background-color: rgb(20, 6, 75);
  color: white;
  border: none;
  padding: 5x 10px;
  margin-top: 5x;
  cursor: pointer;
}

.Overwatch {
  background-image: url(/public/newsroom2.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.Roof {
  background-image: url(/public/diningbalcony.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.Lodge {
  background-image: url(/public/mountainlodge.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}

.sparkleButton13 {
  position: fixed;
  left: 815px;
  bottom: 130px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton13 img {
  width: 25px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.sparkleButton14 {
  position: fixed;
  left: 815px;
  bottom: 335px;
  border: none;
  background: none;
  cursor: pointer;
}

.sparkleButton14 img {
  width: 25px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  animation: pulsateGlow 2s ease-in-out infinite;
}

.book2 {
  position: fixed;
  left: 380px;
  bottom: 96px;
  border: none;
  background: none;
  cursor: pointer;
}

.book2 img {
  width: 20%; /* Scale down the image to 50% of its original size */
  height: auto; 
}

.SkyPool {
  background-image: url(/public/poolbalcony.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Full viewport height */
}
